* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}


/*hero section style start */

.hero-section {
    background-image: url("./Pictures/Image_1.png");
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.hero-contant {
    padding: 210px 0px 0px 100px;
    color: #fff;
}

.hero-contant h1 {
    font-size: 45px;
}

.hero-contant p {
    padding: 30px 0px;
    font-size: 13px;
}


/*defalt button*/

.root-btn {
    padding: 10px 27px;
    background-color: #FDB467;
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}


/*hero section style end */


/*about section style start */

.about-section {
    text-align: center;
    color: #FFFF;
}

.our-studio {
    float: left;
    width: 50%;
    height: 500px;
    background-color: #272624;
    padding: 150px 50px;
}

.our-studio h2 {
    padding: 20px 0px;
    font-size: 35px;
}

.our-studio p {
    font-size: 13px;
    line-height: 20px;
}

.registration-open {
    float: left;
    width: 50%;
    height: 500px;
    background-color: #1E1D1B;
    padding: 150px 50px;
}

.registration-open h2 {
    padding: 20px 0px;
    font-size: 35px;
}

.registration-open ul {
    list-style: none;
    padding: 20px 0px;
}


/*about section style end */


/* workshop & event style start */

.workshop {
    width: 100%;
}

.workshop-contant {
    float: left;
    width: 30%;
    background-color: #EEE9E5;
    padding: 148px 44px 210px 0;
}

.workshop-contant h2 {
    font-size: 35px;
}

.workshop-contant p {
    font-size: 19px;
    padding: 20px 0px;
    font-size: 12px;
}

.workshop-picture img {
    float: right;
    width: 70%;
}


/* workshop & event style end */


/* studio membership style start */
.studio-membership{
    height: 700px;
    width: 100%;
    color: rgb(228, 226, 224);
    margin-top: -30px;
    
}
.studio-membership .s-member-picture{
   width: 70%;

}
.studio-membership .s-member-picture img{
    width: 100%;
    margin-top: -40px;
}
.studio-membership .s-member-contant{
   float: right;
   background:RGB(39,38,36);
   width: 30%;
   margin-top: -621px;
   padding: 170px 40px;
}
.studio-membership .s-member-contant h2{
           text-transform: capitalize;
           padding:0 0  20px 0;
}
.studio-membership .s-member-contant p{
    padding:0 0  20px 0;
    line-height: 25px;
    font-size: 12px;
}


/* studio membership style end */


/* from our students style start */



.our-students {
   position: relative;
    width: 100%;
    height: 600px;
    margin-top: 1026px;
   
    background:RGB(39,38,36);
    
}
.our-students .contant .img{
    height: 90%;
   
    
}
.our-students .contant .img img{
    height: 70%;
    width: 100%;
    margin-top: -50px;
}


 .our-students .contant .card-middel {
    width: 426px;
    height: 326px;
    background-color: #fff;
    padding: 60px;
    display: block;
  
    position: absolute;
    bottom: -70px;
    left: 200px;
    margin: 0 0 70px 30px;


}

.contant .card-middel p {
    margin: 15px 0px;
    font-size: 13px;
} 


/* from our students style end */


/* footer section style start */

footer {
   
    border-top:1px solid white ;
    background-color: #292621;
    text-align: center;
    color: #fff;
    padding: 93px 330px;
}

.footer-contant h2 {
    text-transform: capitalize;
}

.footer-contant p {
    margin: 30px 0px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
}

input[type=email] {
    background: none;
    border: 1px solid rgb(224, 224, 224);
    padding: 9px 11px;
    width: 47%;
    color: white;
    border-radius: 3px;
}


/* footer section style end */